*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
  /* border: 1px solid black; */
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

body {
  background: var(--yellow);
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.card {
  background-color: var(--white);
  min-height: 522px;
  max-width: 384px;
  text-align: left;

  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 1);
}

.card-img {
  max-width: 336px;
  min-height: 200px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 1.25rem;
}

.text p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-500);
  line-height: 1.6;
}

.text h2 {
  font-size: 1.5rem;
  color: var(--gray-950);
  font-weight: 800;
}

.text h2:hover {
  color: var(--yellow);
  cursor: pointer;
}

.text h4 {
  font-weight: 500;
  font-size: 0.9rem;
  color: var(--gray-950);
}

.card .card-heading {
  display: block;
  max-width: 82px;
  height: 29px;
  font-family: inherit;
  background-color: var(--yellow);
  border: none;
  border-radius: 4px;
  text-align: center;
}

.card-heading h3 {
  color: var(--gray-950);
  font-weight: 800;
  font-size: 0.9rem;
}

.card-heading:hover {
  background-color: hsla(47, 88%, 48%);
  cursor: pointer;
}

.card-img img {
  max-width: 100%;
  border-radius: 10px;
}

.card-description {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  gap: 0.8rem;
}

.developer {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  gap: 0.8rem;
}

.developer img {
  width: 32px;
  height: 32px;
}

.developer h5 {
  font-size: 0.9rem;
  font-weight: 800;
  color: var(--gray-950);
}
